API_URL=https://apiv3.poliwebapp.com.br
API_URL_LOCAL=http://localhost:5000
API_URL_BROWSER=https://apiv3.poliwebapp.com.br
API_URL_SERVER=http://localhost:5000
PUBLIC_SITE_URL=https://www.poliwebapp.com.br
SEO_SITE_URL=https://www.poliwebapp.com.br
SSR_ONLY_ROUTE_PREFIX=/comercio,/adm
SSR_FALLBACK_URL=https://www.poliwebapp.com.br
