API_URL=https://apiv3.poliwebapp.com.br
API_URL_LOCAL=http://127.0.0.1:5001
API_URL_BROWSER=https://apiv3.poliwebapp.com.br
API_URL_SERVER=http://127.0.0.1:5001
PUBLIC_SITE_URL=https://www.poliwebapp.com.br
SEO_SITE_URL=https://ssr.poliwebapp.com.br
SSR_ONLY_ROUTE_PREFIX=/comercio
SSR_FALLBACK_URL=https://www.poliwebapp.com.br
