[Unit]
Description=Run public tenders scraper daily

[Timer]
OnCalendar=*-*-* 06:30:00
Persistent=true
Unit=hail-mary-worker@scrape:licitacoes.service

[Install]
WantedBy=timers.target
